.body {
  color: #061935;
}

.navbar .navbar-nav .nav-link {
  color: white;
  /* font-size: 1.1em; */
  position: relative;
  /* padding: 10px 0px; */
  margin: 0px 20px;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  /* top: 2px; */
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: -7px;
  background-color: white;
  color: transparent;
  width: 0%;
  content: ".";
  height: 3px;
  transition: all 0.5s;
}
.navbar .active .nav-link::after {
  width: 100%;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar span {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.border-btn {
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 13px 40px;
  margin: 50px 30px;
}
.border-btn:hover {
  background-color: white;
  color: black;
}
.banner-btn .active {
  background-color: white;
  color: black;
}

.vertical-line {
  position: inherit;
  height: 150px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  left: 70%;
  bottom: 10%;
}

.overlap {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 50%;
  display: flex;
}
.right {
  width: 50%;
  background-color: white;
  /* box-shadow: 5px 10px 5px #e8e8e8; */
  box-shadow: 0px 4px 10px rgba(197, 197, 197, 0.25);
  padding: 80px;
}
.right h5 {
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
}
.right p {
  font-size: smaller;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.sustainable-development span,
p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.sustainable-development h4 {
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 32px;
}

.find-out-more-table h3 {
  color: black;
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 32px;
}
.find-out-more-table span {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.new-to-sustainable-investing p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.new-to-sustainable-investing h5 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
}
.new-to-sustainable-investing a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  font-family: Montserrat;
}

.footer p {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  font-family: Montserrat;
  padding: 1px;
}
.footer a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.carousel-indicators li {
  background-color: #c7c7c7 !important;
}

.carousel-indicators active {
  background-color: #8b8c8b !important;
}
